@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@theme {

    /* Font */
    --font-poppins: "Poppins", sans-serif; 
  
    /* Colours - General */
    --color-btn-dark: oklch(0.1822 0 0);
    --color-peak-red: oklch(0.6117 0.2289 24.66);
    --color-grey-custom: oklch(0.9791 0 0);
}

body {
    @apply font-poppins;
}

@layer utilities {

    .pod-container {
        @apply w-[90%] mx-auto pt-30 
    }
    .btn-dark-solid {
        @apply border border-btn-dark bg-btn-dark text-white px-11 py-4 text-xl rounded-md
    }

    .btn-dark-solid:hover {
        @apply border border-btn-dark px-11 py-4 text-xl rounded-md text-btn-dark bg-transparent
    }

    .btn-dark-outline {
        @apply border border-btn-dark px-11 py-4 text-xl rounded-md text-btn-dark
    }

    .btn-dark-outline:hover {
        @apply bg-btn-dark text-white px-11 py-4 text-xl rounded-md
    }

    .btn-peak-red-solid {
        @apply border border-peak-red bg-peak-red text-white px-6 py-3 text-lg rounded-lg
    }

    .btn-peak-red-solid:hover {
        @apply border border-peak-red bg-transparent text-btn-dark px-6 py-3 text-lg rounded-lg
    }

    .red-accent-pill {
        @apply bg-peak-red py-[2px] w-[20px] rounded-md
    }

    .red-accent-pill-large {
        @apply bg-peak-red py-[3px] w-[50px] rounded-md
    }

    .product-label {
        @apply px-5 mt-3 text-lg font-medium leading-5
    }

    .product-price {
        @apply px-5 mt-3 text-3xl font-light
    }

    .floating-label {
        @apply absolute text-sm text-gray-500 
               duration-300 transform -translate-y-4 scale-75 top-2 z-10 
               origin-[0] bg-[#ffffff] px-2 peer-focus:px-1 
               peer-placeholder-shown:scale-100 
               peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 
               peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4.5 
               rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 
               peer-focus:bg-white peer-[&:not(:placeholder-shown)]:bg-white
               peer-focus:translate-x-3 peer-[&:not(:placeholder-shown)]:translate-x-3
               peer-[&:not(:placeholder-shown)]:-translate-y-4.5 peer-[&:not(:placeholder-shown)]:px-1;
    }
    
    .md-input-styling {
        @apply block bg-[#ffffff] px-2.5 pb-2.5 
               pt-4 w-full text-sm text-gray-900 rounded-xl 
               border-1 border-transparent appearance-none focus:outline-none 
               focus:ring-0 focus:border-gray-200 focus:bg-white
               [&:not(:placeholder-shown)]:bg-white [&:not(:placeholder-shown)]:border-gray-200;
    }
    
}
  