<div class="footer-container">
    <div class="bg-dark-custom rounded-xl grid grid-cols-2 gap-7 ">
       
        <div class="py-20 ps-25">   
            <%= image_tag 'peak_logo_white.svg'%>
            <p class="pt-10 text-white text-[14px]">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>  

        <div class="flex flex-col py-20 pe-25">
            <div class="grid grid-cols-2 grow"> 
                <div class="flex flex-col justify-center ps-5">
                    <a class="text-white">
                        Home
                    </a>

                    <a class="text-white">
                        Shop
                    </a>

                    <a class="text-white">
                        BLog
                    </a>

                    <a class="text-white">
                        FAQs
                    </a>

                    <a class="text-white">
                        Size Chart
                    </a>
                </div>

                <div class="flex flex-col justify-center ps-5">
                    <a class="text-white">
                        Term and Conditions
                    </a>

                    <a class="text-white">
                        Privacy Policy
                    </a>

                    <a class="text-white">
                        Returns and Refunds
                    </a>

                    <a class="text-white">
                        POPIA
                    </a>

                    <a class="text-white">
                        Contact
                    </a>
                </div>
            </div>
            <div>
                <%= image_tag 'payment_options.png'%>
            </div>
        </div>

    <div>
</div>