<div class="pod-container my-10">
    <p class="text-xl lg:text-3xl mb-8 font-medium">
        Recommended Products
    </p>
    <div class="grid grid-cols-4 gap-7">
        <a href="#" class="col-span-4 md:col-span-2 lg:col-span-1">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

        <a href="#" class="col-span-4 md:col-span-2 lg:col-span-1">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

        <a href="#" class="col-span-4 md:col-span-2 lg:col-span-1">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

        <a href="#" class="col-span-4 md:col-span-2 lg:col-span-1">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>
    </div>
</div>