<div class="checkout-container">
    <div class="pb-10 flex items-center flex-col">
        <h2 class="pod-page-title !mb-0">
            Your Account
        </h2>
        <div class="red-accent-pill-large"></div>
    </div>
    <div class="grid grid-cols-2  lg:pt-10">
        <div class="col-span-2 lg:col-span-1 p-5">
            <p class="text-xl lg:text-3xl mb-8 font-medium">
                Order History
            </p>
            <p class="">
                Youhave no past orders
            </p>
        </div>
        <div class="col-span-2 lg:col-span-1 rounded-xl bg-grey-custom p-5">
            <form>
                <p class="text-xl text-center lg:text-start lg:text-xl font-medium !pt-0">
                    Edit Your Details
                </p>

                <div class="relative h-[45px] mt-5">
                    <input type="text" id="edit_form_first_name" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                    
                    <label for="edit_form_first_name" class="floating-label">
                        First Name
                    </label>
                </div>

                <div class="relative h-[45px] mt-5">
                    <input type="text" id="edit_form_last_name" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                    
                    <label for="edit_form_last_name" class="floating-label">
                        Last Name
                    </label>
                </div>

                <div class="relative h-[45px] mt-5">
                    <input type="text" id="edit_form_cell" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                    
                    <label for="edit_form_cell" class="floating-label">
                        Cell Number
                    </label>
                </div>

                <div class="relative h-[45px] mt-5">
                    <input type="text" id="edit_form_email" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                    
                    <label for="edit_form_email" class="floating-label">
                        Email
                    </label>
                </div>

                <div class="relative h-[45px] mt-5">
                    <input type="password" id="edit_form_email" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                    
                    <label for="edit_form_email" class="floating-label">
                        Current Password
                    </label>
                </div>
                <p class="text-sm mt-5">
                    we need your current password to confirm your changes
                </p>
                <div class="mt-5">
                    <button type="button" class="btn-checkout-solid lg:!w-[20%]">
                        Update Details
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>