<div class="page-container">
    <div class="pb-5 lg:pb-10 flex items-center flex-col" data-controller="filter-toggle">
        <h2 class="pod-page-title !mb-0">
            Blog
        </h2>
        <div class="red-accent-pill-large"></div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7 mt-6 gap-10">
        <div class="lg:col-span-2">
            <p class="text-2xl lg:text-4xl font-medium text-center">
                Blog Article Title
            </p>
            <div class="w-full py-[20px] blog-content-styling">
                <%= image_tag 'bg_bubble_blue.jpg', class: '' %>
                <h2>
                    Lorem Ipsum
                </h2>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, 
                    nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil 
                    molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>
            </div>
        </div>
        
        <div class="col-span-1">

            <div class="flex flex-col">
                <p class="text-2xl lg:text-4xl font-medium text-center">
                    Latest Blog Posts
                </p>
                <a href="#" class="border-b-1 border-dark pb-3 mt-5">
                    <div class="bg-grey-custom flex justify-center items-center h-[200px] lg:h-[300px] rounded-xl overflow-hidden">   
                        <%= image_tag 'peak.png', class:"w-3/4" %>
                    </div>
                    <p class="product-label !ps-0">
                        The Comfort Code: Why Rockport Is a Game-Changer for Long Days
                    </p>
                    <p class="text-sm mt-2">
                        By Jane Doe | March 15, 2024
                    </p>
                </a>

                <a href="#" class="border-b-1 border-dark pb-3 mt-5">
                    <div class="bg-grey-custom flex justify-center items-center h-[200px] lg:h-[300px] rounded-xl overflow-hidden">   
                        <%= image_tag 'peak.png', class:"w-3/4" %>
                    </div>
                    <p class="product-label !ps-0">
                        The Comfort Code: Why Rockport Is a Game-Changer for Long Days
                    </p>
                    <p class="text-sm mt-2">
                        By Jane Doe | March 15, 2024
                    </p>
                </a>

                <a href="#" class="border-b-1 border-dark pb-3 mt-5">
                    <div class="bg-grey-custom flex justify-center items-center h-[200px] lg:h-[300px] rounded-xl overflow-hidden">   
                        <%= image_tag 'peak.png', class:"w-3/4" %>
                    </div>
                    <p class="product-label !ps-0">
                        The Comfort Code: Why Rockport Is a Game-Changer for Long Days
                    </p>
                    <p class="text-sm mt-2">
                        By Jane Doe | March 15, 2024
                    </p>
                </a>

            </div>

            <div class="rounded-xl py-3 px-4 bg-grey-custom mt-5">
                <p class="text-lg lg:text-xl font-medium text-start">
                    Latest Blog Posts
                </p>
                <div class="mt-3 flex flex-row flex-wrap">
                    <a href="#" class="tag-selector-styling">Peak</a>
                    <a href="#" class="tag-selector-styling active">Outdoor</a>
                    <a href="#" class="tag-selector-styling">Running</a>
                    <a href="#" class="tag-selector-styling">Leather</a>
                    <a href="#" class="tag-selector-styling active">Park Run</a>
                    <a href="#" class="tag-selector-styling active">Gear</a>
                    <a href="#" class="tag-selector-styling active">Trail</a>
                </div>
            </div>

            <div class="rounded-xl py-3 px-4 bg-grey-custom mt-5">
                <p class="text-lg lg:text-xl font-medium text-start">
                    Archives
                </p>
                <div class="mt-3 flex flex-col flex-wrap">
                    <a href="#" class="text-xs mb-2">July (2025)</a>
                    <a href="#" class="text-xs mb-2">June (2025)</a>
                    <a href="#" class="text-xs mb-2">May (2025)</a>
                    <a href="#" class="text-xs mb-2">April (2025)</a>
                    <a href="#" class="text-xs mb-2">March (2025)</a>
                    <a href="#" class="text-xs mb-2">February (2025)</a>
                    <a href="#" class="text-xs mb-2">January (2025)</a>
                </div>
            </div>

        </div>
    </div>
</div>