<div class="checkout-container">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-7">
        <div class="col-span-3 lg:col-span-2 overflow-auto rounded-xl lg:border-0 bg-grey-custom">

            <div class="w-full rounded-xl p-8">
                <p class="text-2xl lg:text-4xl font-medium">
                   Register
                </p>
                <form>
                    <div class="grid grid-cols-1 lg:grid-cols-8">
                        <div class="col-span-8 relative h-[45px] mt-5">
                            <input type="text" id="register_first_name" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                            
                            <label for="register_first_name" class="floating-label">
                                First Name
                            </label>
                        </div>

                        <div class="col-span-8 relative 1 h-[45px] mt-5">
                            <input type="text" id="register_last_name" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                            
                            <label for="register_last_name" class="floating-label">
                                Last Name
                            </label>
                        </div>

                        <div class="col-span-8 relative 1 h-[45px] mt-5">
                            <input type="text" id="register_contact_number" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                            
                            <label for="register_contact_number" class="floating-label">
                                Contact Number
                            </label>
                        </div>

                        <div class="col-span-8 relative 1 h-[45px] mt-5">
                            <input type="text" id="register_email" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                            
                            <label for="register_email" class="floating-label">
                                Email Address
                            </label>
                        </div>

                        <div class="col-span-8 relative 1 h-[45px] mt-5">
                            <input type="text" id="register_password" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                            
                            <label for="register_password" class="floating-label">
                                Password
                            </label>
                        </div>

                        <div class="col-span-8 relative 1 h-[45px] mt-5">
                            <input type="text" id="register_confirm_password" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                            
                            <label for="register_confirm_password" class="floating-label">
                                Confirm Password
                            </label>
                        </div>
                        <div class="col-span-8 mt-5">
                            <button type="button" class="btn-checkout-solid lg:!w-[20%]">
                                Register
                            </button>
                        </div>
                        <div class="col-span-8 mt-3">
                            <p>
                                ALready have an account?
                            </p>
                        </div>
                        <div class="col-span-8 mt-3">
                            <button type="button" class="btn-dark-checkout-outline w-full lg:!w-[20%]">
                                Login Here
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-span-3 lg:col-span-1 rounded-xl p-8 bg-grey-custom ">
            <div class="">
                <p class="text-xl lg:text-2xl font-medium col-span-1">
                    Your Order
                </p>
                <hr class="col-span-2 mt-3 mb-5">
                <div class="grid grid-cols-5">

                    <div class="col-span-3">
                        <p class="font-medium">
                            Description
                        </p>
                    </div>

                    <div class="col-span-1">
                        <p class="font-medium text-center">
                            QTY
                        </p>
                    </div>

                    <div class="col-span-1">
                        <p class="font-medium text-end">
                            Total
                        </p>
                    </div>
                </div>

                <div class="grid grid-cols-5 mt-1">

                    <div class="col-span-3">
                        <p class="text-xs">
                            PEAK Basketball Shoes Lou Williams Streetball Master Navy
                        </p>
                    </div>

                    <div class="col-span-1">
                        <p class="text-xs font-medium text-center">
                            99
                        </p>
                    </div>

                    <div class="col-span-1">
                        <p class="text-xs font-medium text-end">
                            R999999.99
                        </p>
                    </div>
                </div>


                <div class="grid grid-cols-5 mt-5">

                    <div class="col-span-3">
                        <p class="font-medium">
                            Subtotal
                        </p>
                    </div>

                    <div class="col-span-2">
                        <p class="font-medium text-end">
                            R 999999.99
                        </p>
                    </div>
                </div>

                <div class="grid grid-cols-5 mt-5">

                    <div class="col-span-3">
                        <p class="font-medium">
                            Shipping
                        </p>
                    </div>

                    <div class="col-span-2">
                        <p class="font-medium text-end">
                            FREE SHIPPING
                        </p>
                    </div>
                </div>
                <hr class="col-span-2 mt-3 mb-5">
                <div class="grid grid-cols-8 mt-5">
                    <div class="col-span-8 lg:col-span-4 mt-5 lg:pe-2 flex items-center">
                        <button type="button" class="btn-checkout-solid flex items-center ps-5 lg:ps-0 lg:justify-evenly">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 me-3 lg:me-0">
                                <path fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd"></path>
                            </svg>
                            Continue Shopping
                        </button>
                    </div>

                    <div class="col-span-8 lg:col-span-2 mt-5 flex items-center">
                        <button type="button" class="btn-peak-checkout-red-solid w-full flex items-center ps-5 lg:ps-0 lg:justify-evenly">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 me-3 lg:me-0">
                                <path fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd"></path>
                            </svg>
                            Back
                        </button>
                    </div>
                    <div class="rounded-xl col-span-8 bg-white p-5 mt-6">
                        <ul class="list-disc px-5">
                            <li class="text-sm mb-1">Free Shipping on All Deliveries</li>
                            <li class="text-sm mb-1">Fast Delivery Time</li>
                            <li class="text-sm mb-1">Visa, Master Card & EFT's Accepted</li>
                            <li class="text-sm mb-1">Returned and Refund Policy</li>
                            <li class="text-sm mb-1">Customer Care: online@medicus.co.za</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>