<div class="checkout-container">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-7">
        <div class="col-span-3 lg:col-span-2 overflow-auto rounded-xl lg:border-0">

            <div class="w-full rounded-xl p-8">
                <p class="text-2xl lg:text-4xl font-medium">
                   Register
                </p>
                <form>
                    <div class="grid grid-cols-1 lg:grid-cols-8">
                        <div class="col-span-8 relative h-[45px] mt-5">
                            <input type="text" id="register_first_name" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                            
                            <label for="register_first_name" class="floating-label">
                                First Name
                            </label>
                        </div>

                        <div class="col-span-8 relative 1 h-[45px] mt-5">
                            <input type="text" id="register_last_name" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                            
                            <label for="register_last_name" class="floating-label">
                                Last Name
                            </label>
                        </div>

                        <div class="col-span-8 relative 1 h-[45px] mt-5">
                            <input type="text" id="register_contact_number" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                            
                            <label for="register_contact_number" class="floating-label">
                                Contact Number
                            </label>
                        </div>

                        <div class="col-span-8 relative 1 h-[45px] mt-5">
                            <input type="text" id="register_email" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                            
                            <label for="register_email" class="floating-label">
                                Email Address
                            </label>
                        </div>

                        <div class="col-span-8 relative 1 h-[45px] mt-5">
                            <input type="text" id="register_password" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                            
                            <label for="register_password" class="floating-label">
                                Password
                            </label>
                        </div>

                        <div class="col-span-8 relative 1 h-[45px] mt-5">
                            <input type="text" id="register_confirm_password" class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" placeholder=" ">
                            
                            <label for="register_confirm_password" class="floating-label">
                                Confirm Password
                            </label>
                        </div>
                        <div class="col-span-2 mt-5">
                            <button type="button" class="btn-checkout-solid">
                                Register
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-span-3 lg:col-span-1 rounded-xl p-8 bg-grey-custom ">
            <div class="grid grid-cols-2">
                <p class="text-xl lg:text-2xl font-medium col-span-1">
                    Your Order
                </p>
                <hr class="col-span-2 mt-3 mb-5">
            </div>
        </div>
    </div>
</div>