<div class="grid grid-cols-7 lg:h-[60vh] my-15 lg:my-0">
    <div class="col-span-7 lg:col-span-5 relative order-2 lg:order-1">
        <%= image_tag 'bg_bubble_orange.jpg', class: "absolute w-full h-full object-cover z-1"%>
        <div class="grid grid-cols-10 z-2 relative h-full lg:ps-20">
            <div class="relative col-span-6 hidden lg:block">
                <%= image_tag 'runner_man_transparent.png', class: 'absolute bottom-0 h-full object-cover' %>
            </div>
            
            <div class="px-10 py-5 lg:px-0 lg:py-0 flex col-span-10 lg:col-span-4 items-center justify-center h-full w-full flex-col flex-wrap">
                <h2 class="text-[30px] text-center lg:text-start lg:text-[55px] text-white font-bold mb-4 w-full lg:leading-18">
                    Women's Apparel & Accessories
                </h2>
                <p class="text-2xl text-center lg:text-start text-white w-full">
                    30% Off Season sale
                </p>
                <div class="w-full mt-10 flex justify-center lg:justify-start">
                    <button type="button" class="btn-dark-solid">Shop Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-7 lg:col-span-2 pz-10 flex items-center justify-center flex-col order-1 lg:order-2">
        <%= image_tag 'peak.png', class: "w-[75%]" %>
        <p class="text-2xl text-dark text-start mt-10">
            Mens's Running Shoes
        </p>
        <h2 class=" text-[30px] lg:text-[45px] text-dark font-bold mb-4 leading-18 mt-8">
            Mens's Running
        </h2>
    </div>
</div> 