<div class="lg:h-[90vh] relative flex justify-center items-center">
    <div class="w-full lg:absolute">
        <%= image_tag 'banner-transparent.png', class: "object-contain h-full w-full lg:object-cover" %>
    </div>
    <div class="absolute w-[50%] bottom-[10%]">
        <%= image_tag 'peak.png'%>
    </div>

    <div class="lg:w-[90%] bottom-0 py-4 flex justify-between lg:absolute bottom-0">
        <div>
            <button type="button" class="btn-dark-solid">Shop Now</button>
        </div>

        <div class="px-10 py-3 text-2xl">
            Scroll to Explore
        </div>
    </div>
</div>