<div class="pod-container grid grid-cols-4 gap-7">
    <a href="#" class=" col-span-4 md:col-span-2 xl:col-span-1">
        <div class="rounded-xl overflow-hidden">
            <%= image_tag 'card-4.jpg', class: "w-full h-full hover:scale-105 transition duration-300" %>
        </div>
        <p class="text-xl mt-3 font-medium">
            Running
        </p>
        <div class="red-accent-pill"></div>
    </a>
    <a href="#" class="col-span-4 md:col-span-2 xl:col-span-1">
        <div class="rounded-xl overflow-hidden">
            <%= image_tag 'card-1.jpg', class: "w-full h-full hover:scale-105 transition dusration-300" %>
        </div>
        <p class="text-xl mt-3 font-medium">
            Accessories
        </p>
        <div class="red-accent-pill"></div>
    </a>
    <a href="#" class="col-span-4 md:col-span-2 xl:col-span-1">
        <div class="rounded-xl overflow-hidden">
            <%= image_tag 'card-3.jpg', class: "w-full h-full hover:scale-105 transition dusration-300" %>
        </div>
        <p class="text-xl mt-3 font-medium">
            Casual
        </p>
        <div class="red-accent-pill"></div>
    </a>
     <a href="#" class="col-span-4 md:col-span-2 xl:col-span-1">
        <div class="rounded-xl overflow-hidden">
            <%= image_tag 'card-2.jpg', class: "w-full h-full hover:scale-105 transition dusration-300" %>
        </div>
        <p class="text-xl mt-3 font-medium">
            Apparel
        </p>
        <div class="red-accent-pill"></div>
    </a>
</div>
