<div class="pod-container">
    <div class="bg-grey-custom py-10 px-25 rounded-xl h-[15vh] flex flex-row">
        <div class="flex flex-row items-center h-full w-[35%]">
            <h2 class="text-4xl font-medium pe-5">
                Join The PEAK Family
            </h2>
            <div class="red-accent-pill-large"></div>
        </div>
        <div class="flex flex-row items-center ps-15 w-[50%]">
            <div class="relative flex align-center border border-btn-dark rounded-xl">
                <input  type="text" 
                        id="contact_relationship" 
                        class="md-input-styling peer " 
                        placeholder=" " />
                
                <label for="contact_relationship" class="floating-label">
                    Name and Surname
                </label>
            </div>

            <div class="relative flex align-center ms-5 border border-btn-dark rounded-xl">
                <input  type="text" 
                        id="contact_relationship" 
                        class="md-input-styling peer " 
                        placeholder=" " />
                
                <label for="contact_relationship" class="floating-label">
                    Email
                </label>
            </div>
            <button type="button" class="btn-peak-red-solid ms-5">Subscribe</button>
        </div>
        <div class="w-[15%] flex justify-center items-center">
            <i class="fa-brands fa-instagram text-4xl px-2"></i>
            <i class="fa-brands fa-facebook text-4xl px-2"></i>
        </div>
    </div>
</div>