<div class="pod-container">
    <div class="grid grid-cols-2 gap-7">
        <div class="col-span-2 lg:col-span-1">
            <div class="rounded-2xl overflow-hidden w-full relative">
                <%= image_tag 'bg_bubble_orange.jpg'%>
                <%= image_tag 'runner_man_transparent.png', class: 'absolute bottom-0' %>
            </div>
            <p class="text-xl lg:text-3xl mt-3 font-medium">
                Men
            </p>
            <div class="red-accent-pill"></div>
        </div>

        <div class="col-span-2 lg:col-span-1">
            <div class="rounded-2xl overflow-hidden w-full relative">
                <%= image_tag 'bg_bubble_blue.jpg'%>
                <%= image_tag 'runner_women_transparent.png', class: 'absolute bottom-0' %>
            </div>
            <p class="text-xl lg:text-3xl mt-3 font-medium">
                Women
            </p>
            <div class="red-accent-pill"></div>
        </div>
    </div>
</div>