<div class="pod-container" data-controller="parrallax">
    <div class="grid grid-cols-2 gap-7">
        <a href="#" class="col-span-2 lg:col-span-1">
            <div class="rounded-2xl overflow-hidden w-full relative">
                <%= image_tag 'bg_bubble_orange.jpg', class: 'parallax-image scale-140' %>
                <%= image_tag 'runner_man_transparent.png', class: 'absolute bottom-0' %>
            </div>
            <p class="text-xl lg:text-3xl mt-3 font-medium">
                Men
            </p>
            <div class="red-accent-pill"></div>
        </a>

        <a href="#" class="col-span-2 lg:col-span-1">
            <div class="rounded-2xl overflow-hidden w-full relative">
                <%= image_tag 'bg_bubble_blue.jpg', class: 'parallax-image scale-140' %>
                <%= image_tag 'runner_women_transparent.png', class: 'absolute bottom-0' %>
            </div>
            <p class="text-xl lg:text-3xl mt-3 font-medium">
                Women
            </p>
            <div class="red-accent-pill"></div>
        </a>
    </div>
</div>